#header{
    text-align: center;
}
body{
    background-color: bisque;
}
.menu{
    font-size: medium;
    margin-bottom: 3px;
    display: block;
}
#tic-tac-toe{
    background-color: aqua;
}
#rock-ps{
    background-color: cornsilk;
}
#air-hockey{
    background-color: blanchedalmond;
}
#interface{
    width: 70%;
    margin: auto;
    height: 40rem;
    background-color: white;
}
.form{
    display: block;
}
.hidden{
    display: none;
}
.parentGrid {
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 33.333333333%);
}
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
  }
.box:nth-child(even){
    background-color: #eee;
}

/*Rock paper scissors*/

#rockps-player1{
    position: absolute;
    left: 40%;
}

#rockps-player2{
    position: absolute;
    bottom: 0%;
    left: 40%;
}

#rockps-player1-score{
    position: absolute;
    top: 0%;
    right: 40%;
}

.rockpsContainer{
    width: 70%;
    height: auto;
    position: relative;
}
#rockps-player2-score{
    position: absolute;
    bottom: 0%;
    right: 40%;
}
#player1-img{
    position: absolute;
    top: 10%;
    left: 25%;
}
#player2-img{
    position: absolute;
    bottom: 10%;
    left: 25%;
}