#header{
    text-align: center;
}
body{
    background-color: bisque;
}
.menu{
    font-size: medium;
    margin-bottom: 3px;
    display: block;
}
#tic-tac-toe{
    background-color: aqua;
}
#rock-ps{
    background-color: cornsilk;
}
#air-hockey{
    background-color: blanchedalmond;
}
.interface{
    width: 70%;
    margin: auto;
    height: 25rem;
    background-color: white;
}
.form{
    display: block;
}
.hidden{
    display: none;
}
.parentGrid {
    display: grid;
    /* width: 70%;
    height: 30rem; */
    grid-template-columns: repeat(auto-fit, 33.333333333%);
    
}
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
  }


.box:nth-child(even){
    background-color: #eee;
}

/*Rock paper scissors*/

#checkWinDisp{
    position: absolute;
    top: 49%;
    left: 35%;
}

#rockps-player1{
    position: absolute;
    left: 40%;
}

#rockps-player2{
    position: absolute;
    bottom: 0%;
    left: 40%;
}

#rockps-player1-score{
    position: absolute;
    top: 0%;
    right: 40%;
}

.rockpsContainer{
    width: 70%;
    height: 40rem;
    position: relative;
    background-color: burlywood;
    text-align: center;
}
#rockps-player2-score{
    position: absolute;
    bottom: 0%;
    right: 40%;
}
#player1-img{
    width: 30%;
    height: 30%;
    position: absolute;
    top: 10%;
    left: 28%;
}
#player2-img{
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 10%;
    left: 28%;
}
.rps-buttons{
    background-color: blue;
}
.rps-buttons:hover{
    background-color: chocolate;
}

#rock-button1{
    position: absolute;
    top: 6%;
    left: 25%;
}
#rock-button2{
    position: absolute;
    bottom: 6%;
    left: 25%;
}
#paper-button1{
    position: absolute;
    top: 6%;
    left: 40%
}
#paper-button2{
    position: absolute;
    bottom: 6%;
    left: 40%
}
#sciss-button1{
    position: absolute;
    top: 6%;
    left: 55%;
}
#sciss-button2{
    position: absolute;
    bottom: 6%;
    left: 55%;
}

/*Air hockey*/
#hockey-grid{
    position: relative;
    left: 15%;
    width: 70%;
    height: 30rem;
    background-color: black;
    
}

#plate1{
    width: 10%;
    height: 5%;
    position: absolute;
    
    background-color: lightsalmon;
}
#plate2{
    width: 10%;
    height: 5%;
    position: absolute;
    background-color: lightsalmon;
}
.ball{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: goldenrod;
    position: absolute;
}